@import url(https://fonts.googleapis.com/css?family=Great+Vibes|Black+And+White+Picture|Courgette|Cabin:400,600,700);

@font-face {
    font-family: 'CHILLER';
    src: url('../fonts/CHILLER.eot');
    src: local('CHILLER'), url('../fonts/CHILLER.woff') format('woff'), url('../fonts/CHILLER.ttf') format('truetype');
}

html {
    scroll-behavior: smooth;
}

body {
    background: url("../images/bg.jpg") fixed top center;
    background-size: cover;
}

body.home {
    background: url("../images/bg1.jpg") fixed center center;
    background-size: cover;
}

body.home .anim a {
    font-size: 3rem;
    font-family: 'Chiller', cursive;
    letter-spacing: .25rem;
    font-weight: bold;

    color: #0ab2ff;
    text-shadow: 2px 2px #cc490e, -2px 2px #cc490e, 2px -2px #cc490e, -2px -2px #cc490e;

    animation-name: example;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@media screen and (min-width: 768px) {
    body.home .anim a {
        font-size: 4rem;
    }
}

body.home li {
    border-bottom: .25rem solid transparent;
}

body.home li:hover {
    border-bottom: .25rem solid var(--cyan);
}

body.home .navbar li:hover {
    border-bottom: .25rem solid var(--red);
}

.container-fluid {
    background-color: #000000aa;
}

.home .navbar {
    background-color: #f2690ed0;
}

@keyframes example {
    33% {
        color: #0ab2ff;
        text-shadow: 2px 2px #cc490e, -2px 2px #cc490e, 2px -2px #cc490e, -2px -2px #cc490e;
    }
    50.5% {
        color: #cc490e;
        text-shadow: 2px 2px #0ab2ff, -2px 2px #0ab2ff, 2px -2px #0ab2ff, -2px -2px #0ab2ff;
    }

    83.5% {
        color: #cc490e;
        text-shadow: 2px 2px #0ab2ff, -2px 2px #0ab2ff, 2px -2px #0ab2ff, -2px -2px #0ab2ff;
    }
}

ul {
    list-style-type: none;
}

.title {
    font-family: 'Black And White Picture', sans-serif;
    font-size: 4rem;
}

.intro {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.4), 0 9px 30px 0 rgba(0, 0, 0, 0.4);
}

a:hover {
    text-decoration: none;
}

a.nav-link {
    font-family: 'Courgette', cursive;
    font-size: larger;
}

.home a.nav-link {
    font-size: x-large;
}

.jgallery .zoom-container .nav-bottom > .title {
    font-family: cursive;
    font-size: x-large;
}

.card-image-top {
    height: 12rem;
    object-fit: cover;
}

.placeholder {
    min-height: 100vh;
}

.name {
    font-family: 'Great Vibes', cursive;
    font-size: 10rem;
    color: #FF8F26;
    text-shadow: 3px 3px 0 #EE2A7B, -3px 3px 0 #EE2A7B;
}

.text-gallery, .navbar .navbar-nav .nav-link {
    color: #EE2A7B;
}

.border-gallery {
    border-width: 2px;
    border-color: #b68C5D;
}

.bg-gallery {
    background-color: #C69C6D;
}

.navbar .navbar-nav .nav-link.bg-gallery {
    background-color: #EE2A7B;
}

@media (max-width: 768px) {
    .name {
        font-size: 5rem;
        text-shadow: 2px 1px 0 whitesmoke, -1px 2px 0 whitesmoke;
    }
}

h1, h2, h3, h4, h5, p.lead, .lead a, .lead span {
    font-family: 'Courgette', cursive;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .375rem;
        padding-left: .25rem;
    }
}

/*JGallery Overrides*/
.jgallery[data-jgallery-id="1"] {
    background: #C69C6DBB !important;
}

.jgallery[data-jgallery-id="1"] .jgallery-thumbnails {
    /*Bottom Part*/
    background: none !important;
}

.jgallery[data-jgallery-id="1"] .zoom-container .nav-bottom {
    /*Navigation Part*/
    background: none !important;
}

.jgallery[data-jgallery-id="1"] .zoom-container .nav-bottom, .jgallery[data-jgallery-id="1"] .jgallery-thumbnails .jgallery-container {
    box-shadow: none !important;
}

.jgallery[data-jgallery-id="1"] .zoom-container .nav-bottom .icons, .jgallery[data-jgallery-id="1"] .zoom-container .nav-bottom .icons .fa {
    /*Navigation Control Part*/
    background: none !important;
}

.jgallery[data-jgallery-id="1"] .zoom-container:not([data-size="fill"]) .jgallery-container {
    /*Display Left and Right*/
    background: none !important;
}