@import url(https://fonts.googleapis.com/css?family=Great+Vibes|Black+And+White+Picture|Courgette|Cabin:400,600,700);

@font-face {
    font-family: 'CHILLER';
    src: url('../fonts/CHILLER.eot');
    src: local('CHILLER'), url('../fonts/CHILLER.woff') format('woff'), url('../fonts/CHILLER.ttf') format('truetype');
}

html{
    scroll-behavior: smooth;
}

body {
    background: url("../images/bg.jpg") fixed center center;
    background-size: cover;
}

body.home {
    background: url("../images/bg1.jpg") fixed center center;
    background-size: cover;
}

@media (max-width: 768px) {
    body.home{
        background-size: auto 50%;
    }
}

body.home .anim a {
    font-size: 2.5rem;
    font-family: 'Chiller', cursive;
    letter-spacing: .25rem;
    font-weight: bold;

    color: #0ac2d2;
    text-shadow: 2px 2px #c2590e, -2px 2px #c2590e, 2px -2px #c2590e, -2px -2px #c2590e;

    animation-name: example;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

body.home li {
    border-bottom: .25rem solid transparent;
}

body.home li:hover {
    border-bottom: .25rem solid var(--cyan);
}

body.home .navbar li:hover {
    border-bottom: .25rem solid var(--red);
}

.container-fluid {
    background-color: #000000aa;
}

.home .navbar {
    background-color: #f2690ed0;
}

@keyframes example {
    33% {
        color: #0ac2d2;
        text-shadow: 2px 2px #c2590e, -2px 2px #c2590e, 2px -2px #c2590e, -2px -2px #c2590e;
    }
    50.5% {
        color: #c2590e;
        text-shadow: 2px 2px #0ac2d2, -2px 2px #0ac2d2, 2px -2px #0ac2d2, -2px -2px #0ac2d2;
    }

    83.5% {
        color: #c2590e;
        text-shadow: 2px 2px #0ac2d2, -2px 2px #0ac2d2, 2px -2px #0ac2d2, -2px -2px #0ac2d2;
    }
}

ul {
    list-style-type: none;
}

.title {
    font-family: 'Black And White Picture', sans-serif;
    font-size: 4rem;
}

.intro {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.4), 0 9px 30px 0 rgba(0, 0, 0, 0.4);
}

a:hover {
    text-decoration: none;
}

a.nav-link {
    font-family: 'Courgette', cursive;
    font-size: larger;
}

.home a.nav-link{
    font-size: x-large;
}

.jgallery .zoom-container .nav-bottom > .title {
    font-family: cursive;
    font-size: x-large;
}

.card-image-top {
    height: 12rem;
    object-fit: cover;
}

.placeholder {
    min-height: 100vh;
}

.name {
    font-family: 'Great Vibes', cursive;
    font-size: 10rem;
    text-shadow: 3px 3px 0 darkslategray, -3px 3px 0 darkslategray;
}

h1, h2, h3, h4, h5, p.lead, .lead a, .lead span {
    font-family: 'Courgette', cursive;
}